body {
    margin: 0;
    background-image: url(IMG_5464.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.links {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.links a {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 70vw;
  max-width: 500px; 
  padding: 30px; 
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #67B5FF;
  opacity: .9;
  color: white;
}