body {
    margin: 0;
    background-image: url(/IMG_5464.jpg);
    background-size: 200%;
    
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links a {
  margin: 50px;
  width: 70%;
  padding: 30px; 
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #67B5FF;
  opacity: .9;
  color: black;
}